* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(17, 103, 17);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  text-align: center;
}

h1 {
  color: goldenrod;
  font-size: 4em;
  margin-top: 70px;
}

p {
  color: white;
  margin-top: 30px;
  font-size: 1.15em;
}

#msg-el {
  color: white;
  margin-top: 30px;
  font-size: 1.4em;
  font-style: italic;
}

#btn-start {
  border: none;
  border-radius: 5px;
  margin-top: 30px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  width: 150px;
  background-color: rgb(190, 143, 27);
  color: #016f32;
  font-size: 1.2em;
  cursor: pointer;
  font-weight: bold;
}