* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgba(121, 121, 121, 0.566);
}

h1 {
  text-align: center;
  margin-top: 50px;
}

h2 {
  text-align: center;
  margin-top: 20px;
}

p {
  text-align: center;
  margin-top: 20px;
}

button#increment-btn {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  background-color: rgb(255, 56, 56);
  color: white;
  border: 1px solid black;
  height: 40px;
  width: 200px;
  border-radius: 5px;

  cursor: pointer;
}

button#save-btn {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  background-color: rgb(56, 255, 89);
  color: black;
  border: 1px solid black;
  height: 40px;
  width: 200px;
  border-radius: 5px;

  cursor: pointer;
}